
/* Your CSS Code here. */
.holder{
	display:grid;
	 grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-template-rows: repeat(2, 1fr);    /* Two equal rows */
    width: 200px; /* Total grid size of 200px */
    height: 200px;
}